<section class="  dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"> About Us
        </h2>
        <p class="mb-4 font-light text-center  text-gray-700 dark:text-white sm:text-xl">
            Welcome to Flavory - your ultimate destination for inspiration and culinary adventures! We are passionate
            about sharing a world of flavors and experiences through our extensive collection of recipes and
            food-related content.
        </p>
        <p class="mb-4 font-light text-center text-gray-700 dark:text-white sm:text-xl">
            At Flavory, we strive to be your trusted partner in the kitchen, whether you're an experienced chef or a
            beginner exploring the wonderful world of cooking. Our platform is designed to be user-friendly,
            informative, and inspiring, making it easy for you to find recipes and tips that suit your needs and tastes.
        </p>
        <p class="mb-4 font-light text-center text-gray-700 dark:text-white sm:text-xl">
            We believe that cooking is so much more than just preparing meals - it's a creative process, a source of joy
            and community, and an opportunity to explore new cultures and traditions through flavors. That's why we aim
            to offer recipes from around the world, from traditional favorites to modern interpretations and exciting
            fusions.
        </p>
        <p class="mb-4 font-light text-center text-gray-700 dark:text-whitesm:text-xl">
            Whether you're looking for quick and easy everyday dishes, impressive party fare, healthy options, or
            delicious desserts, Flavory has everything you need to succeed in the kitchen and create memorable meals for
            yourself, your family, and your friends.
        </p>
        <p class="font-light text-center text-gray-700 dark:text-white sm:text-xl">
            Thank you for choosing Flavory for your culinary adventures. We look forward to accompanying you on your
            journey through the world of flavors!
        </p>
    </div>
</section>
