<p>register works!</p>

<form action="" method="post" name="registerForm">
    <h1>Register </h1>
    <hr class="streck">
    <h4>Register by entering the following information:</h4>

    <p><label for="user">Username:</label><br>
        <input maxlength="50" name="user_name" id="user" size="30" type="text" required
            placeholder="Username" />
    </p>

    <p><label for="password">Password:</label><br>
        <input maxlength="50" name="Password" id="password" size="30" type="text" required placeholder="Password" />
    </p>

    <p><label for="password">E-mail:</label><br>
        <input maxlength="50" name="Password" id="password" size="30" type="text" required placeholder="E-mail" />
    </p>
    <p><input type="submit" value="Register" /></p>

</form>
