<div class="flex justify-center items-center h-screen">
    <img class="rounded-t-lg" [src]="recipe?.image" alt="{{recipe?.label}}" class="h-auto rounded-md">
    <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{recipe?.label}}</h5>
        <ol class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            <li>Prep time: {{recipe.totalTime}} Min</li>
            @for (ingredient of recipe?.ingredientLines; track ingredient){

            <li>{{ingredient}}</li>
            }
        </ol>
    </div>
</div>