<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <img class="rounded-t-lg" [src]="recipe?.image" alt="" class="w-full h-auto rounded-md">
    <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{recipe?.label}}</h5>
        <ol class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            <li> Prep time: {{recipe.totalTime}}</li>
            @for (ingredient of recipe?.ingredientLines; track ingredient){
            <li>{{ingredient}}</li>

            }
        </ol>
    </div>
</div>