<div class="flex flex-col justify-center items-center min-h-screen">
    <img class="rounded-t-lg w-full md:w-auto" [src]="recipe?.image" alt="{{recipe?.label}}" class="h-auto rounded-md transition duration-300 ease-in-out hover:scale-110 ">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{recipe?.label}}</h5>
 
    <div class="">
        <ol class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            <li> <span class="font-bold">Prep time:</span> {{recipe.totalTime}} Min</li>
            <li> <span class="font-bold"> mealType: </span> {{recipe.mealType}} </li>
            <li class="font-bold">Ingredients:</li>
            @for (ingredient of recipe?.ingredientLines; track ingredient){
            <li>{{ingredient}}</li>
            }
        </ol>
    </div>
</div>
