<p>login works!</p>

<form action="" method="post" name="contactForm">
  <h1>Login</h1>
  <hr class="streck">
  <p><label for="user">Username:</label><br>
      <input maxlength="50" name="user_name" id="user" size="30" type="text" required
          placeholder="Username">
  </p>

  <p><label for="password">Password:</label><br>
      <input maxlength="50" name="Password" id="password" size="30" type="text" required placeholder="Password" />
  </p>
  <br>

  <p><input type="submit" value="Login"></p>
  

</form>
