<nav class="bg-gray-800 py-4">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
      <a routerLink="/home" class="text-2xl font-semibold text-white flex items-center">
        <img src="https://images.vexels.com/media/users/3/158060/isolated/preview/e5f258cd25efb9c1996bcf63c868c1ba-lip-licking-mouth-icon.png" alt="logo" width="50" height="50" class="mr-2">
        <span class="lg:block hidden">Flavory</span> <!-- Dölj texten på mindre skärmar -->
      </a>
      <ul class="flex flex-wrap lg:flex-nowrap space-x-4 lg:space-x-4 items-center">
        <li><a routerLink="/mains" class="text-white hover:text-gray-300">Mains</a></li>
        <li><a routerLink="/desserts" class="text-white hover:text-gray-300">Desserts</a></li>
        <li><a routerLink="/starters" class="text-white hover:text-gray-300">Starters</a></li>
        <!-- Flytta "Login" och "Sign-up" knapparna till en separat meny -->
        <li>
          <a routerLink="/login" class="rounded-full border border-white px-2 py-1 text-white transition duration-300 ease-in-out hover:bg-yellow-50 hover:text-gray-500 focus:outline-none">Login</a>
        </li>
        <li>
          <a routerLink="/register" class="rounded-full border border-white px-2 py-1 text-white transition duration-300 ease-in-out hover:bg-yellow-50 hover:text-gray-500 focus:outline-none">Register</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- bg-rose-950 */ -->